
<h1 class="header">Dynamic components</h1>
<main class="container">
  <app-profile-container></app-profile-container>
</main>


<button (click)="aver()">Create  Component</button>
<ng-template appDynamicHost></ng-template>





<section class="container app-container">

  <div class="row">
    <div class="pill" *ngFor="let tab of tabs; let pos = index;"
         [ngClass]="{'pill-active': pos === activeTab}"
         (click)="changeTab(pos)"
    >
      {{tab.title}}
    </div>
  </div>

  <section class="row mt-3" #figureContainer>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias doloribus ea eius enim illo ipsum itaque
    minima nostrum numquam quasi recusandae reprehenderit repudiandae sequi, sunt. Autem cumque magni veniam.
  </section>

</section>